.container{
    margin-top: 300px;
}

.questionStr{
    font-size: 55px;
}

.yes_btn {
    background-color: rgb(2, 160, 2);
    width: 250px;
    height: 115px;
    color: #ffffff;
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    margin: 8px;
    padding-top: 20px;
    border-radius: 10px;

}

.no_btn {
    background-color: rgb(233, 47, 47);
    width: 250px;
    height: 115px;
    margin: 8px;
    color: #ffffff;
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    padding-top: 20px;
    border-radius: 10px;

}